'use strict';
module.exports = {
  port: {{ port }},
  database: {
    client: '{{ db_dialect }}',
    connection: {
      host: '{{ db_host }}',
      user: '{{ db_user }}',
      password: '{{ db_password }}',
      database: '{{ db_name }}'
    }
  }
};