[program:{{ app_name }}]
command=node {{ projects_path }}/{{ app_name }}/index.js
autostart=true
autorestart=true
stderr_logfile={{ logs_path }}/{{ app_name }}.err.log
stderr_logfile_maxbytes=50MB
stderr_logfile_backups=10
stdout_logfile={{ logs_path }}/{{ app_name }}.out.log
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=10
user=appadmin